/* My Styles */

body {
  padding: 2em;
  font-size: 10px;
}

h1 {
  margin: 0;
}

#view {
  background-color: #000020;
  border: 1px solid blue;
  height: 700px;
  width: 800px;
  position: relative;
}

#debug-view {
  border: 1px solid brown;
  position: absolute;
  width: 20vw;
  min-height: 20vh;
  top:12px;
  right:15px;
  padding: 0.3em;
}

#buttons-bar {
  float: right;
}

#buttons-bar button {
  margin: 0.5em 0 0 0.5em;
}

#mother {
  background: url(img/earth.png) no-repeat center center;
  background-size: cover;
/*   border: 0; */
}

.particle {
  border: 1px solid white;
  position: absolute;
  border-radius: 50%;
}

.big.particle {
  background: url(img/planet-003.png) no-repeat center center;
  background-size: cover;
}
