/* My Styles */

body {
  padding: 0;
  margin: 0.5em;
  font-size: 10px;
}

#view {
  border: 1px solid silver;
  float: left;
  min-height: 200px;
  position: relative;
}

#debug-view {
  border: 1px solid silver;
  float: left;
  min-height: 20vh;
  margin: 0 1em;
  padding: 0.5em;
  width: 20vw;
}

#buttons-bar {
  float: right;
  padding: 0.5em 0;
}

#bottom-bar {
  clear: both;
}

#bottom-bar div {
  margin-right: 3%;
}

#bottom-bar button {
  margin: 1em 0 0 0.5em;
}

#mother {
  background: url(img/earth.png) no-repeat center center;
  background-size: cover;
}

.pull-left { float: left; }
.pull-right { float: right; }

.particle {
  border: 1px solid white;
  position: absolute;
  border-radius: 50%;
}

.big.particle {
  background: url(img/planet-003.png) no-repeat center center;
  background-size: cover;
}
